---
title: Articles
layout: layout.liquid
---

<section class="sub-page__section">

    <h1 class="sub-page__title">{{ title }}</h1>

    <ul class="o-list--inline articles-list">
    
        {%- for article in collections.article reversed -%}

            <li class="articles-list__item">

                <article class="articles-list__article">

                    <a class="h3 articles-list__title" href="{{ article.url }}">{{ article.data.title }}</a>
                    <time class="articles-list__datetime" datetime="{{ article.date | dateUgly }}">{{ article.date } dateUgly }}</time>

                </article>

            </li>

        {%- endfor -%}

    </ul>

    <!-- <ul class="o-list--inline articles-list">

        <li class="articles-list__item">

            <article class="articles-list__article">

                <a class="h3 articles-list__title" href="/articles/weekend-reading/07-02-2020-who-says-rss-is-dead">Weekend Reading: Who says RSS is dead?</a>
                <time class="articles-list__datetime" datetime="2020-02-07">2020-02-07</time>

            </article>

        </li>

        <li class="articles-list__item">

            <article class="articles-list__article">

                <a class="h3 articles-list__title" href="/articles/events/new-adventures-2020-writeup">New Adventures 2020 writeup</a>
                <time class="articles-list__datetime" datetime="2020-01-31">2020-01-31</time>

            </article>

        </li>

        <li class="articles-list__item">

            <article class="articles-list__article">

                <a class="h3 articles-list__title" href="/articles/weekend-reading/17-01-2020-new-year-new-series">Weekend Reading: New year, new series</a>
                <time class="articles-list__datetime" datetime="2020-01-17">2020-01-17</time>

            </article>

        </li>
    
        <li class="articles-list__item">

            <article class="articles-list__article">
            
                <a class="h3 articles-list__title" href="/articles/design-and-development/pseudo-content-that-makes-sense">Pseudo content that makes sense</a>
                <time class="articles-list__datetime" datetime="2020-01-14">2020-01-14</time>
            
            </article>
        
        </li>

    </ul> -->

</section>

<hr>

{% include partials/sections/contact %}